@charset "UTF-8";
/* CSS Document */

#contenedor {
	width: 1024px;
	background: #bdeded;
	border: 2px dashed #66c9b5 ; 
	margin-top: auto;
	margin-right: auto;
	margin-left:  auto;
	margin-bottom: auto;
}

#cabeza {
	height: 300px;
	border: 2px dashed #66c9b5;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
#menu {
	height:50px;
	border:2px dashed #66c9b5;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#columna1 {
	width: 982px;
	height: 700px;
	border:2px dashed #66c9b5;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.dentro{
	clear: both;
}